header {
  padding: 0 8%;
  background-color: #f58a00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 89px;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px rgb(0,0,0,0.1);
}
#logo {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
ul {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  transition: 0.5s;
  justify-content: center;
}
.menu_mobile {
  display: none;
  font-size: 1.7rem;
  background-color: transparent;
  border: none;
  color: #1d1d1d;
}
#navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  position: relative;
}
#navbar a::after {
  content: " ";
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 4px;
  transition: 0.3s ease-in;
  width: 0;
}
#navbar a:hover::after {
  width: 100%;
}
@media screen and (max-width: 1117px) {
  header .menu_mobile {
    display: block;
    z-index: 3;
  }
  #navbar {
    position: fixed;
    top: -300px;
    transition: 0.9s ease;
    height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f58a00;
  }
  #navbar.abrirNavbar {
    height: 450px;
    top: 0;
  }
  #navbar ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
